/.build-*/
/.codelite/
/.gradle/
/.idea/
/.vs/
/Build/

*.lib
*.dll
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.gradle
*.iml
*.sln
*.workspace
*.xcworkspace
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradle.properties
/gradlew
/gradlew.bat
/local.properties
/Makefile
*.Make

premake5.exe
premake5.bat

/Output/